<h3 style="text-align:center;">About Us</h3>

<div class="card z-depth-3">
	<div class="card-content white-text">
		<div class="row">
			<div class="col m6">
				<a class="twitter-timeline" href="https://twitter.com/Code4Startup" data-widget-id="587633580509044736">Tweets by @Code4Startup</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</div>
			<div class="col m6">
				<div class="card-panel grey lighten-5 z-depth-1">
					<div class="row valign-wrapper">
						<div class="col m3">
							<%= image_tag "ag.png", class: "circle responsive-img" %>
						</div>
						<div class="col m9">
							<span class="black-text">
								AssemblyGeneral believes that inspiration and creativity lives inside everyone. Our goal is to help awaken that passsion to achieve your dreams.

								We aim to create a global community of individuals empowered to pursue work they love, by offering free courses, classes, workshops, and mini-lessons
								on the most relevant skills of the 21st century. Hatched from the summer full immersive session in 2015 as an innovative platform for founders, entrepreneurs, builders, designers, educators, and innovators,
								Assembly General is an community that transforms thinkers into creators through education in technology around the world.
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
