
<h3 class="banner center ">My Courses</h3>
<div class="row" data-no-turbolink>
<br>
	<% @courses.each do |course| %>
		<%= link_to course do %>
			<div class="col s12 m6 l4">
				<div class="card">
					<div class="card-image">
						<%=  image_tag course.image, class: "course-image" %>
					</div>
					<div class="card-content" style="height: 6em">
						<span class= "card-title grey-text text-darken-4">
								<%= course.name %>
						</span>
					</div>
				</div>
			</div>
		<% end %>
	<% end %>
</div>
