 @import 'materialize';
 @import 'toastr';

 html {
  //  font-family: GillSans, Calibri, Trebuchet, sans-serif;
  // font-weight: bold;
  // font-style: italic;
 }

#courses-nav {
  font-size: 4rem;
}
.nav-links > a {
  font-size: 20px;
  font-weight: bold;
}
.nav-links > a:hover {
  color: red;
}

 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  .image-size {
    width: 38px;
    height: 38px;
  }
  #banner {
    color: white;
  }
  .course-image {
    width: 175px;
    height: 100px;
  }
 .container {
   width: 95%;
 }
 #buttons {
   display: inline-block
 }

.avatar-small {
  width: 50px;
}

.avatar-medium {
  width: 80px;
}
