 @import 'materialize';
 @import 'toastr';

.logo {
  width: 30x30;
}
 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  .image-size {
    width: 38px;
    height: 38px;
  }
  #banner {
    color: white;
  }
  .course-image {
    width: 175px;
    height: 100px;
  }
 .container {
   width: 95%;
 }
 #buttons {
   display: inline-block
 }

.avatar-small {
  width: 50px;
}

.avatar-medium {
  width: 80px;
}
